.title{
	font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;

color: #FFFFFF;

mix-blend-mode: normal;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #EB3F68;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 35px;
  width: 35px;
  background: linear-gradient(89.79deg, rgba(34, 52, 155, 0.9) 0%, rgba(33, 129, 190, 0.9) 100%);
  border-radius: 50%;
  display: inline-block;
  right: 0px;
}
/*---*/
h1{
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #2781C2;
mix-blend-mode: normal;
margin: 2px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 94%;
  margin: 0px;
  font-family: arial;
  padding:10px;
  transition: 0.3s;
  margin: 0%;

}

 .price 
{
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #000000;
mix-blend-mode: normal;
margin:2px;
margin-top: 4px;
margin-bottom: 4px;
}

.p2{
	font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #EB3F68;
mix-blend-mode: normal;
margin: 2px;
}

/*----*/

.title{
	background: linear-gradient(89.79deg, rgba(34, 52, 155, 0.9) 0%, rgba(33, 129, 190, 0.9) 100%);
}

.header {
   background: linear-gradient(74.24deg, rgba(34, 52, 155, 0.9) 0%, rgba(33, 129, 190, 0.9) 100%);
   background-color: #111111;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 83px;
  overflow-x: hidden;
  padding: 5px;
  margin: 5px;
  border-width: 1.5px;

}

.center{
	left:30%;
  width: 29%;

}

.left {
  left: 0.25%;
  width: 30%;
  border-color: #22349B;
}

.right {
  right: 0.25%;
  width: 40%;
  border-color: #22349B;
}