
<div class="split left">
<div class="header" style="padding: 10px;">
   <p style="font-family:Roboto Slab;  color: white; font-size: 25px; text-align: center; margin: 0px">Patient Profile</p>
</div>
<div class="card">
 <table style="width: 100%">
       <tr>
           <td>
               <h1>Name</h1>                  
           </td>
           <td>
             <p class="price">: {{ patient.name }}</p>
           </td>
       </tr>
       <tr>
           <td>
               <h1>Gender</h1>                  
           </td>
           <td>
             <p class="price">: {{patient.gender}}</p>
           </td>
       </tr>
       <tr>
           <td>
               <h1>Date of birth</h1>                  
           </td>
           <td>
             <p class="price">: {{patient.dob}}</p>
           </td>
       </tr>
       <tr>
           <td>
               <h1>Weight</h1>                  
           </td>
           <td>
             <p class="price">: {{patient.weight}} kg</p>
           </td>
       </tr>
       <tr>
           <td>
               <h1>Height</h1>                  
           </td>
           <td>
             <p class="price">: {{patient.height}}</p>
           </td>
       </tr>
   </table>

</div>
<br>
<div class="header" style="padding: 10px;">
 <p style="font-family:Roboto Slab;  color: white; font-size: 25px; text-align: center; margin: 0px">Emergency Detail</p>
</div>
<div class="card">
   <table style="width: 100%">
       <tr>
           <td>
               <h1>Type</h1>                  
           </td>
           <td>
             <p class="price">: {{emergency.type}}</p>
           </td>
       </tr>
       <tr>
           <td>
               <h1>Time</h1>                  
           </td>
           <td>
             <p class="price">: 13.47 hrs</p>
           </td>
       </tr>
       
   </table>
</div>
<br>
<div class="header" style="padding: 10px;">
 <p style="font-family:Roboto Slab;  color: white; font-size: 25px; text-align: center; margin: 0px">Contacts</p>
</div>
<div class="card" >
 <table style="width: 100%">
     <tr>
           <td>
               <h1>Doctors</h1>                  
           </td>
       </tr>
       <tr>
          <td>
             <p class="price" style="text-decoration: bold">Dr. Shelly Baron</p>
           </td>            
           <td>
             <p class="price">: 9876123450</p>
           </td>
       </tr>
       <tr>
         <td>
           <hr style="background-color: #f1f1f1; height: 1px; border: 0;">
         </td>
         <td>
           <hr style="background-color: #f1f1f1; height: 1px; border: 0;">
         </td>
       </tr>
       <tr>
           <td>
               <h1>Emergency</h1>                  
           </td>
       </tr>
       <tr>
          <td>
             <p class="price" style="text-decoration: bold">Sunil Ghane</p>
           </td>            
           <td>
             <p class="price">: 9876123450</p>
           </td>
       </tr>
       <tr>
          <td>
             <p class="price" style="text-decoration: bold">Prachi Dalvi</p>
           </td>            
           <td>
             <p class="price">: 9876123450</p>
           </td>
       </tr>
       <tr>
          <td>
             <p class="price" style="text-decoration: bold">Anant Nimakr</p>
           </td>            
           <td>
             <p class="price">: 9876123450</p>
           </td>
       </tr>
       
   </table>
 </div>
   <br><br><br><br><br><br>
</div>

<div class="split center">
<div class="header" style="padding: 10px;">
   <p style="font-family:Roboto Slab; color: white; font-size: 25px; text-align: center; margin: 0px">Medical Profile</p>
</div>