<div class="header" style="height: 75px; color:#294a70; position: relative">
  <img src="assets/img/jeevan-white.png" style="height:80%; margin-top: 5px; float: left; padding-left: 15px;"> 
</div>


<div class="container-fluid ">
  <div class="row">
    <div class="col" style="border-style:solid;margin: 0.2%;padding: 0.1%;">
      <div class="header" style="padding: 10px;">
        <p style="font-family:Roboto Slab;  color: white; font-size: 25px; text-align: center; margin: 0px">Incoming Emergency</p>
      </div>
      
      <mat-accordion>
      <app-emergencies></app-emergencies>

    </mat-accordion>

    </div>
    <div class="col" style="border-style:solid;margin: 0.2%;padding: 0.1%;">
      <div class="header" style="padding: 10px;">
        <p style="font-family:Roboto Slab; color: white; font-size: 25px; text-align: center; margin: 0px">Doctors Available</p>
      </div>
    </div>
    <div class="col" style="border-style:solid;margin: 0.2%;padding: 0.1%;">
      <div class="header" style="padding: 10px;">
	<p style="font-family:Roboto Slab; color: white; font-size: 25px; text-align: center; margin: 0px">Appointments</p>
</div>
    </div>
    
  </div>
</div>
-->
<nav>
  <a routerLink="/detail">Patient Details</a>
</nav>
<router-outlet></router-outlet>